.single-card{
    height: 500px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    padding: 10px;
}
.single-card img{
    width: 100%;
    border-radius: 10px;
}
.btn-addList{
    width: 75%;
    background-color: #572dbb;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
}
.btn-addList:hover{
    background-color: darkgrey;
}

@media screen and (max-width:959px) {
    .single-card{
        height: 600px;
    }
}