.single-card{
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    position: relative;
}
.single-card img{
    width: 100%;
}
.btn-addList{
    width: 75%;
    background-color: #572dbb;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 0;
}
.btn-addList:hover{
    background-color: darkgrey;
}