.excercise{
    display: grid;
    grid-template-columns: 4fr 1.5fr;
}
.excercise-container{
    background-color: rgb(234, 226, 251);
}
.container{
    margin-left: 100px;
    margin-right: 100px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

@media screen and (max-width:667px) {
    .excercise{
        display: block;
    }
    .card-container{
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
    }
}